
  #cursor{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: $white-color;
    transition: 0.1s;
    transform: translate(-50%,-50%);
    pointer-events: none;
    mix-blend-mode: difference;
    z-index: 10000;
    @include mobile(){
        display: none;
    }

}