.modal{
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
}
.contain{
    width: 100%;
    height: 100%;
}

.modal-header{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.caption{
    text-align: center;
}
.modal-heading{
    margin-bottom: 20px;
    font-size: 18px;
    font-family: fmain;
    line-height: initial;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 10px;
    margin: 0;
    font-weight: normal;
    
    
}
@media screen and (min-width: 320px) and (max-width: 767px){
    .modal-heading{
        margin-bottom: 10px;
        font-size: 12px;
        letter-spacing: 7px;
        line-height: normal;
    }
}
.modal-name{
    font-size: 100px;
    font-family: g;
    line-height: 100px;
    color: #fff;
    text-transform: none;
    letter-spacing: 1px;
    font-weight: normal;
    margin: 0;
}
@media screen and (min-width: 320px) and (max-width: 767px){
    .modal-name{
        font-size: 48px;
        line-height: 58px;
    }
}

@media screen and (max-width: 991px) and (min-height: 500px){
    .modal-name{
        font-size: 80px;
        line-height: 80px;
    }
}

/* modal body */

.modal-body{
    
}
.modal-body-contain{
    margin-right: auto;
    margin-left: auto;
    
    font-family: fmain;
    width: 1199px;
    max-width: 100%;
}
@media screen and (min-width: 320px) and (max-width: 767px){
    .modal-body-contain{
        padding-left: 15px;
        padding-right: 15px;
    }
}

.modal-video{
    position: relative;
		    padding-bottom: 56.25%;
		    height: 0;
		    overflow: hidden;
		    margin-top: -280px;
		    background: #ddd;
		    opacity: 0;
}
.modal-video video,iframe{
		    	position: absolute;
			    top:0;
			    left: 0;
			    width: 100%;
			    height: 100%;
}
@media screen and (min-width: 320px) and (max-width: 767px){
    .modal-video{
        margin-top: -140px;
    }
}
