/*primary colors*/
$white-color: #fff;
$black-color: #000;

/*global text color*/
$text-color: #000;
$text-white-color:#fff;
$text-gray-color: #787878;

/*global background color*/
$main-bg-color: #fff;
$gray-bg-color: #f4f4f4;
$black-bg-color: #000;


$clr-blue: #2197f3;
$clr-blue-900: #0d47a1;

$pd25: 25px;

